@font-face {
    font-family: 'PT Sans';
    font-weight: 400;
    src: url('../fonts/ptsans.woff2') format('woff2'),
    url('../fonts/ptsans.woff') format('woff');
}

@font-face {
    font-family: 'PT Sans';
    font-weight: 700;
    src: url('../fonts/ptsansbold.woff2') format('woff2'),
    url('../fonts/ptsansbold.woff') format('woff');
}

body {
    margin: 0;
    padding: 0;



    color: #333333;
    background-color: #ffffff;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

a {
    text-decoration: none;

}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);

}
.site-header{
  margin: 0;
  width: 1200px;
  position: relative;

}


.search {
    display: none;
}


.site-header-logo {
  float: right;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 480px;
  }
.main-navigation{

  color: #000000;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;

  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}
.site-navigation li{
  width: 240px;
}
.photo{
  margin-right: 240px;
}


.site-navigation a {
    color: #000000;


}
.site-navigation a:hover {
    color: #81b3d2;
    background-color: #ffffff;
}

.site-navigation a:focus {
    color: #f0f0f0;
    background-color: #ffffff;
}

.active a{
    color: #766357;
    background-color: #ffffff;
}

.titel-reasons {
    list-style: none;
    text-align: center;
    color: #333333;
    background-color: #ffffff;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.titel-reasons-city {
    list-style: none;
    text-align: center;
    color: #333333;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.titel-search {
    list-style: none;
    text-align: center;
    color: #333333;
    background-color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}

.best-search {
    list-style: none;
    text-align: center;
    color: #333333;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.titel-form {
    text-align: center;
    color: #ffffff;
    background-color: #766357;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.titel-form:hover {
    color: #ffffff;
    background-color: #604e43;
}

.titel-form:focus {
    color: #8d857f;
    background-color: #503e33;
}

.search-item {
    color: #000000;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
}

.search-item input {
    background-color: #f2f2f2;
    border: none;
}

.search-button {
    color: #ffffff;
    background-color: #81b3d2;
    border: none;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.site-footer {
    background-color: transparent;
}

.hashtag a {
    text-align: left;
    color: #000000;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.social {
    list-style: none;
    text-align: center;
}

.social-button {
    text-align: center;
    color: #ffffff;
    background-color: #81b3d2;
}

.site-footer-logo {
    text-align: right;
}

.footer-logo {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.title-hotels{
    color: #000000;
    background-color: #ffffff;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.catalog-links span {
    color: #333333;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.catalog-button-blue {
    color: #ffffff;
    background-color: #81b3d2;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}

.catalog-button-brown {
    color: #ffffff;
    background-color: #766357;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}

.catalog-rate {
    text-align: right;
}

.rate {
    color: #666666;
    background-color: #f2f2f2;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
